@charset "UTF-8"
html {
  font-size: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  letter-spacing: 0.25rem;
  color: #4f4f4f;
  background-color: #faf0f0;
}
img {
  width: 100%;
  vertical-align: text-bottom;
}
a {
  text-decoration: none;
  color: #4f4f4f;
}
ul, ol {
  list-style-type: none;
}
/*
共通クラス
*/
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.sec-title {
  text-align: center;
  margin-bottom: 80px;
}
.sec-title .en {
  display: block;
  font-size: 2rem;
}
.sec-title .ja {
  display: block;
  font-size: 1rem;
}
.sec-title span {
  color: #e2e748;
}
.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  background-color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  padding: 14px 36px;
  margin-top: 50px;
  transition: 0.3s;
}
.btn:hover {
  background-color:#cbc1c1;
  border: #cbc1c1 1px solid;
  color: #fff;
}
/*--------------------------------------------
header
--------------------------------------------*/
header {
  background: url(img/ポートフォリオアイコン.png);
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  position: relative;
}
header .navi {
  position: fixed;
  top: 30px;
  left: 40px;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.679);
  border-radius: 50%;
  border: #e2e748 2px solid;
  padding: 50px;
}
header .navi a:hover {
  text-shadow: 0 0 10px #e2e748, 0 0 15px #e2e748;
}
/*--------------------------------------------
works
--------------------------------------------*/
#works {
  margin-bottom: 120px;
}
#works .flex-item {
  display: flex;
  justify-content: center;
}
#works .flex-item .item {
  transition: 0.3s;
  margin-bottom: 30px;
}
#works .text {
  text-align: center;
  margin-bottom: 150px;
}
#works .text .title {
  font-size: 1.25rem;
  margin-bottom: 2px;
}
#works .text a:hover {
  color: #e2e748;
}
#works .text a {
  border-bottom: 1px solid #4f4f4f;
}
#works .flex-item .item:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
#works .sec-title {
  margin-bottom: 50px;
}
#works .banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works .banner li {
  width: 30%;
  margin-right: 30px;

}
#works .banner li img {
  margin-bottom: 10px;
  transition: 0.3s;
}
#works .banner li img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
/*--------------------------------------------
skill
--------------------------------------------*/
#skill {
  margin-bottom: 70px;
}
#skill .flex-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#skill .flex-item .item {
  width: 30%;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #fff;
  box-shadow: 0 0 15px #cbc1c1;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 20px;
}
#skill .flex-item .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#skill .flex-item .text {
    text-align: left;
}
#skill .flex-item .item img {
  width: 100px;
  margin-bottom: 20px;
}
/*--------------------------------------------
about
--------------------------------------------*/
#about {
  margin-bottom: 120px;
}
#about .flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .flex-item .item {
  width: 50%;
  text-align: center;
}
#about .flex-item .item img {
  border-radius: 50%;
  width: 60%;
}

/*--------------------------------------------
footer
--------------------------------------------*/
footer {
  background: url(img/footer.png);
    height: 200px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}
footer p {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
}
/*--------------------------------------------
タブレット
--------------------------------------------*/
@media screen and (max-width:900px) {

.wrapper {
  padding: 0 16px;
}
#skill .flex-item .item {
  width: 45%;
  justify-content: center;
}
#works .banner li {
  width: 45%;
  margin: 0 auto;
}
#works .banner li p {
  margin-bottom: 30px;
}
}

/*--------------------------------------------
SP
--------------------------------------------*/
@media screen and (max-width:550px) {

header .navi {
    border-radius: 0%;
      padding: 10px;
}
header .navi ul{
  display: flex;
}
header .navi ul li {
  padding: 0 10px;
}
#skill .flex-item {
    flex-direction: column;
  }
    #skill .flex-item .item {
      width: 100%;
    }
#about .flex-item {
  flex-direction: column-reverse;
}
#about .flex-item .item {
    width: 100%;
}
#about .flex-item .item img {
      margin-bottom: 30px;
      width: 40%;
}
#works .banner {
  flex-direction: column;  
}
#works .banner li {
  width: 90%;
  margin: 0 auto;
}
#works .banner li p {
  margin-bottom: 30px;
}

}
